/* ---------- Reset ---------- */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;

    display: flex;
    flex-direction:column;
    min-height:100vh;
}

/* ---------- Navigation ---------- */

header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    margin:0;
    padding: 0;

}

.navbar{

    width:100%;
    height: 40px;
    background-color: #243038;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    padding: 0 50px;
   
}


.logo{
    
    margin-right: auto;
}


.nav-links{

    display:flex;
    list-style:none;
    gap:35px;

    margin:0;
    padding:0;
    align-items: flex-start;
}



.nav-links li{

    display:inline-block;
}


.nav-links a{

    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
    font-family:"Poppins", sans-serif;
    padding-top:2px;
    transition: 0.3s;
    display:block;
}


.nav-links a:hover{

    color: #d9d9d9;

}


.nav-links .active{

    border-bottom: 2px solid white;

}


/* ---------- Homepage ---------- */

main{

    padding-top:40px;
}

.hero-image{

    display:block;
    width:100%;
    height:550px;
    
}

.how-section{

    width:100%;
    background: #243038;
    padding: 60px 0;
    ;
}

.how-to-use{

    width:80%;
    margin:0 auto;
    color:white;

}

.how-to-use h2{

    font-size: 38px;
    margin-bottom: 35px;
    text-align: center;
              
}


.how-to-use p{

    font-size:20px;
    line-height:1.8;
    margin-bottom: 18px;
}

.divider{

    width:100%;
    height:230px;
    background: #243038;
}


.about-section{

    margin-top: 200px;
    text-align: center;
}


.about-section h1{

    font-family: "Sniglet", cursive;
    font-size: 42px;
    color: #243038;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-weight: 800;
}


.timeline{

    width:80%;
    margin: 50px auto;

}


.timeline-item{

    display:flex;
    align-items:flex-start;

}


.marker{

    width:13px;
    height: 13px;
    background: #243038;

    transform: rotate(45deg);
    margin-right: 25px;
    margin-top: 10px;

    position: relative;

}



.marker::after{

    content: "";
    position: absolute;

    top:-77px;
    left:935%;

    transform: translate(-50%) rotate(-45deg);

    width: 3.5px;
    height: 400px;

    background: #243038;

}


.content{

    text-align: left;

}


.content h3{

    font-family: "Sniglet", cursive;
    font-size: 27px;
    color: #243038;
    margin-bottom: 15px;

}


.content p{

    font-family: "Poppins", sans-serif;
    font-size: 17px;
    line-height: 1.7;
    color: #243038;

    text-align: left;
    max-width: 650px;

    margin-bottom: 18px;
    
}

.cta-section{

    text-align: center;
    margin: 120px 0;
}


.recipe-btn{

    display: inline-block;

    background: #243038;
    color:white;

    font-family: "Sniglet", cursive;
    font-size:28px;

    text-decoration: none;
    padding: 20px 50px;

    border-radius: 50px;

    transition: 0.3s ease;
}


.recipe-btn:hover{

    background: #364852;
    transform: scale(1.05);
}


/* ---------- Footer ---------- */



.footer{

    width: 100%;
    background: #243038;
    color: white;

    text-align:center;

    padding: 35px 0px;

    margin-top: 0px;

    flex-shrink: 0;

}



.footer p{

    font-family: "Poppins", sans-serif;
    font-size: 17px;
    margin: 0;

}


.footer strong{

    font-family: "Sniglet", cursive;
    font-size: 18px;
    font-weight: 800;
    
}



/*                 RECIPE PAGE                        */


.recipe-page{

    padding-top: 100px;
    padding-bottom: 18px;

    background:#eef3f5;

    flex:1;

}


.recipe-page h1{

    text-align:center;
    font-family:"Sniglet", cursive;
    font-size:40px;
    color: #243038;
    margin-bottom:50px;

}


.recipe-container{

    width:65%;
    margin:auto;

    background:linear-gradient(100deg,#ffffff,#f8f9fb);

    padding: 45px;

    border-radius:30px;

    border:3px solid #758a97;

    box-shadow:
    0 15px 35px rgba(0,0,0,.08),
    0 5px 12px rgba(0,0,0,.05);
    
}

.recipe-container label{

    display:block;

    font-family:"Poppins", sans-serif;

    font-size:18px;

    font-weight:600;

    color:#243038;

    margin-top: 25px;
    margin-bottom: 10px;

}


.recipe-container input{

    width:100%;

    padding:15px;

    font-size:17px;

    font-family: "Poppins", sans-serif;

    border:2px solid #243038;

    border-radius:14px;

    background:white;

    transition:.3s;

    outline:none;

}



.recipe-container input:focus{

    border-color:#243038;

    box-shadow:0 0 10px rgba(36,40,56,.15);
}


.recipe-container hr{

    margin:40px 0;

    border:none;

    border-top:2px solid #d9d9d9;

}


.recipe-container h2{

    font-family:"Sniglet", cursive;

    font-size:30px;

    color:#243038;

    margin-bottom: 20px;

}


.add-btn{

    margin-top:0px;

    background:#243038;

    color:white;

    border:none;

    padding: 14px 24px;

    height:50px;

    border-radius:30px;

    font-family:"Poppins", sans-serif;

    font-size:16px;

    cursor: pointer;

    transition: 0.3s;

}



.add-btn:hover{

    background:#364852;

}


.colour-preview{

    width:170px;

    height:170px;

    border:3px solid #243038;

    border-radius:15px;

    margin:25px auto;

    background:white;

}



.recipe-container p{

    font-family:"Poppins", sans-serif;

    font-size:18px;

    color: #243038;

    margin-bottom:12px;

}


.button-group{

    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:25px;

}



.save-btn,
.clear-btn{

    background:#243038;

    color:white;

    border:none;

    padding:15px 40px;

    border-radius:40px;

    font-family:"Sniglet", cursive;

    font-size:22px;

    cursor:pointer;

    transition:.3s;

}


.save-btn:hover,
.clear-btn:hover{

    background:#364852;

    transform:scale(1.05);

}


#paintContainer{

    margin-top:20px;
}


.paint-box{

    margin-top:30px;

    padding:28px;

    border:2px solid #dbe3e8;

    border-radius:22px;

    background:white;

    box-shadow:0 8px 18px rgba(0,0,0,.05);

}



.paint-box h2{

    font-family:"Sniglet", cursive;

    font-size:20px;

    color:#243038;

    margin-bottom:20px;

}


.paint-number{

    display:flex;
    gap:15px;
    align-items:center;

}


#generateBtn{

    background:#243038;
    color:white;
    border:none;
    padding:14px 24px;
    border-radius: 18px;
    cursor:pointer;
    font-family:"Poppins", sans-serif;
    font-size:16px;
    transition:0.3s;

}


#generateBtn:hover{

    background:#364852;
}


.mix-btn{

    display:block;
    margin:30px auto;
    background: #243038;
    color:white;
    border:none;
    padding:15px 40px;
    border-radius:40px;
    font-family:"Sniglet", cursive;
    font-size:22px;
    cursor:pointer;
    transition:0.3s;

}


.mix-btn:hover{

    background: #364852;

    transform: scale(1.05);
}


.colourHint{

    display:block;
    margin-top:8px;
    margin-bottom:12px;

    font-family:"Poppins", sans-serif;
    font-size:14px;
    color:#666;
    font-style:italic;

}


.remove-btn{

    background:#c85b5b;
    color:white;

    border:none;
    padding:14px 24px;

    height: 50px;

    border-radius:30px;

    font-family:"Poppins", sans-serif;
    font-size:16px;

    cursor:pointer;
    transition:.3s;

}


.remove-btn:hover{

    background:#b24747;
    transform:scale(1.05);
}


.paint-buttons{

    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-top:30px;
    margin-bottom:20px;

}


#copyHexBtn,
#copyRgbBtn{

    margin-left:3px;

    background:#243038;

    color:white;

    border:none;

    padding:5px 14px;

    border-radius:20px;

    cursor:pointer;

    font-size:13px;
    
}

/* ---------------- HISTORY PAGE ---------------- */

.history-page{

    padding-top:100px;
    padding-bottom:80px;

    background:#eef3f5;

    min-height:100vh;

}


.history-page h1{

    text-align:center;

    font-family:"Sniglet", cursive;

    font-size:40px;

    color:#243038;

    margin-bottom:50px;

}


.history-controls{

    text-align:center;

    margin-bottom:40px;

}

.clear-history-btn{

    background:#b24747;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:40px;

    font-family:"Sniglet", cursive;

    font-size:22px;

    cursor:pointer;

    transition:.3s;

}


.clear-history-btn:hover{

    background:#c85b5b;

    transform: scale(1.05);

}

#historyContainer{

    width:78%;

    margin:auto;

}


.history-card{

    background:white;
    border:3px solid #758a97;

    border-radius:25px;

    padding:30px;
    margin-bottom:30px;

    box-shadow:0 8px 10px rgba(0,0,0,.08);


}


.history-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}


.history-card h2{

    font-family:"Sniglet", cursive;

    font-size:20px;

    color:#243038;

}


.history-preview{

    width:80px;

    height:80px;

    border:3px solid #243038;

    border-radius:18px;

}


.history-card p{

    font-family:"Poppins", sans-serif;

    font-size:17px;

    color:#243038;

    margin:10px 0;

}


.delete-btn{

    margin-top:20px;

    background:#b24747;

    color:white;

    border:none;

    padding:12px 15px;

    border-radius:25px;

    font-family:"Poppins", sans-serif;

    font-size:15px;

    cursor:pointer;

    transition:.3s;

}


.delete-btn:hover{

    background:#c85b5b;
    
}